.bottom-sell-book {
    margin: 20px 15%;
    padding: 30px 6%;
  }
.sell-book {
padding: 60px 14%;
}
.sell-book h1 {
padding: 0px 26%;
line-height: 56px !important;
}
.paragraph-top {
padding: 0px 26% !important;
}